.active {
  background-color: magenta;
}

.spec-individual-reminder-item {
  background-color: papayawhip;
}

.new-reminder-input {
  display: block;
  padding: 5px;
  margin: 10px;
}

.unsaved {
  color: red;
  font-weight: bold;
}
