<section class="spec-individual-reminder-item">
  <h3 class='spec-reminder-title'> {{model.title}}</h3>
  <div class='spec-reminder-date'> {{model.date}}</div>
    {{#if model.notes}}
      <div class='spec-reminder-notes'> {{model.notes}}</div>
    {{/if}}
    <button>
      {{#link-to 'reminders.reminder.edit' id='spec-edit-reminder-btn'}}
      EDIT
      {{/link-to}}
    </button>
</section>

{{outlet}}
