<input class="new-reminder-input" placeholder="Title"/>
<input class="new-reminder-input" placeholder="Date"/>
<input class="new-reminder-input" placeholder="Notes"/>
<button> Save Reminder </button>
{{outlet}}
