<h2> Reminder List </h2>

<ul>
  {{#each model as |reminder|}}
    <li class="spec-reminder-item">
      <h3>Title: {{reminder.title}}</h3>
      <div>Date: {{reminder.date}}</div>
      <div>Notes: {{reminder.notes}}</div>
    </li>
  {{/each}}
</ul>
