<h2> Reminder List </h2>
<ul>
  {{#each model as |reminder|}}
    <li >
      {{#link-to 'reminders.reminder' reminder.id class='spec-reminder-item'}} {{reminder.title}} {{/link-to}}
      <div>{{reminder.date}}</div>
    </li>
  {{/each}}
</ul>
<button class='create-new-reminder-btn'>
  {{#link-to 'reminders.new' id='spec-create-new-reminder-btn'}}
    Create New Reminder
  {{/link-to}}
</button>
{{outlet}}
